div {
  background-color:#eee;
  margin: 1em auto;
  max-width: 190px;
  padding: 1em;
  text-align:center;
}

input{
  font-size:25pt;
  max-width:141pt;
  display:block;
  font-family: sans;
  text-align: center;
}
button{
  margin:5px;
  display:inline-block;
  font-size:150%;
  width:auto;
  height:auto;
}
button.control{
  width:50px;
  height:50px;
  font-size:220%;
}
#connect{

}
#disconnect{
 display:none;
}
#display{
font-family: Monospace;
}

